section.wouldyouparty {
  background-image: url(main.png);
  background-size: cover;
}

#about-section {
  background-color: #3e3e3e;
  padding-top: 50px;
  height: 400px;
}

#about-section h2 {
  margin-top: 50px;
  font-size: 50px;
  letter-spacing: -0.04em;
  color: #ffffff;
  font-weight: 200;
}

#about-section h2 span {
  font-weight: 600;
  color: #a567e4;
}

b, strong {
  font-weight: bold;
}

h2 small {
  font-size: 65%;
}

a {
  color: #0090d3;
  text-decoration: none;
  background-color: transparent;
}
